.cartitems{
    margin: 80px 70px;
}
.cartitems hr{
    width: 100%;
}
.cartitems-main-format{
    font-size: 20px;
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    margin: 20px 0px;
    gap: 30px;
    align-items: center;
    font-weight: 600;
}
.cartitems-main-format hr{
    height: 0.1px;
}
.cartitems-format p{
    font-weight: 300;
    font-size: 17px;
}
.carticon-product-icon{
    height: 90px;
}
.cartitems-quantity{
    height: 50px;
    width: 50px;
    background-color: rgb(210, 213, 216);
    border: none;
}
.cartitems-down{
    margin-top: 50px;
}
.cartitems-down button{
    margin-top:10px;
    background-color: black;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
@media(max-width:1024px){
    .cartitems-main-format{
        font-size: 18px;
    }
    .cartitems-format p{
        font-weight: 300;
        font-size: 15px;
    }
    .carticon-product-icon{
        height: 85px;
    }
}
@media(max-width:800px){
    .cartitems-down h1{
        font-size: 25px;
    }
    .cartitems-main-format{
        font-size: 15px;
        display: grid;
        grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr 1fr;
        margin: 20px 0px;
        gap: 30px;
        align-items: center;
        font-weight: 600;
    }
}
@media(max-width:500px){
    .removable{
        display: none;
    }
    .cartitems-format{
        grid-template-columns: 0.5fr 3fr 0.5fr;
    }
    .cartitems-format p{
        font-weight: 300;
        font-size: 14px;
    }
    .cartitems-quantity{
        height: 35px;
        width: 35px;
        margin-left: 15px;
        background-color: rgb(210, 213, 216);
        border: none;
    }
    .cartitems-down h1{
        font-size: 20px;
    }
    .cartitems-down button{
        width: 140px;
        font-size: 15px;
        font-family: Poppins, sans-serif;
    }

}